.navbar-img{
   height:50px;
   width:10%;
   background:url('../image/logo/smart-doors-logo.png')center/contain no-repeat;
}
.nav-item{
    text-align:left;
    cursor: pointer;
}
.navbar-nav{
    width:100%;
    justify-content: space-between;
}
.navbar-signbtn{
    padding:5px 20px;
    border:1px solid red;
    border-radius:0;
    font-weight:700;
}
.search-icon, .two-icon{
    display:flex;
    align-items: center;
    cursor:pointer;
    font-size:18px;
    color:#666363db;
    padding:0 5px;
}
.two-icon div{
    margin:0 5px;
}
.search-icon:hover, .two-icon div:hover{
    color:green;
}
.navbar-ul{
    position:relative;
}
.search-input{
    display:none;
    align-items:center;
    position:absolute;
    top:0;
    right:auto;
    width:72%;
    height: 100%;
    background:grey;

}
.search-input input{
    width:94%;
    height: 100%;
    outline: none;
    padding:5px 10px;
}
.search-input input::placeholder{
    color:grey;
    text-transform:capitalize;
}
.search-close{
    color:#fff;
    height:100%;
    padding:8px 10px;
    cursor:pointer;
    transition:all .8s linear;
    margin:0 auto;
}
.search-close:hover{
    transform:rotate(50Deg);
    color:red;
}
.navbar-container{
    position: relative;
}
.navbar-sm{
    position: absolute;
    top:10px;
    right:10px;
    display: none;
    align-items: center;
    justify-content: center;
}
.navbar-sm div{
    font-size:20px;
    margin:0 10px;
    cursor:pointer;
}
.navbar-sm div:hover{
    color:green;
}
.navbar-img-sm{
    display:none;
    position: absolute;
    top:0;
    left:75px;
    height:40px;
    background:url('../image/logo/smart-doors-logo.png')center/contain no-repeat;
    width:20%;
}
.navbar-search-sm{
    width:100%;
    margin:5px auto;
    display: none !important;
    height: 100%;
    padding-left: 17px;
}
.navbar-sm-input input{
    padding:5px 10px;
    margin:0 auto;
    outline:none;
}
.navbar-sm-search{
    cursor:pointer;
}
.navbar-sm-search:hover{
    color:red;
}
.navbar-search-sm input{
    width:100%;
    background:rgb(248,249,250);
    border-bottom:1px solid black;
}
@media screen and (max-width:767px){
    .navbar-sm{
        display:flex;
    }
    .navbar-container{
        position: relative;
        justify-content: start !important;
    }

    .two-icon, .search-icon, .navbar-signbtn, .navbar-img{
        display:none;
    }
    .navbar-img-sm{
        display: block;
    }
    .navbar-search-sm{
        display: flex !important;;
    }
}