.navbar-img{
   height:50px;
   width:10%;
   background:url('../image/logo/smart-doors-logo.png')center/contain no-repeat;
}
.nav-item{
    text-align:left;
    cursor: pointer;
}
.navbar-nav{
    width:100%;
    justify-content: space-around;
}
.navbar-signbtn{
    padding:5px 20px;
    border:1px solid red;
    border-radius:0;
    font-weight:700;
}
.search-icon{
    border:1px solid red;
    transition:all 9s ease-in;
}
.search-icon, .two-icon{
    display:flex;
    align-items: center;
    cursor:pointer;
    font-size:18px;
    color:#908778;
    padding:0 5px;
}
.navbar-ul{
    position:relative;
    width:67%;
    margin-left:auto;
}
.search-input{
    display:none;
    align-items:center;
    width:100%;
    height: 100%;

}
.heart-icon:hover{
    color:black
}
.search-input input{
    width: 100%;
    border: 0;
    font-size:14px;
    height: 100%;
    outline: none;
    padding:5px 10px;
}
.search-input input::placeholder{
    color:grey;
    text-transform:capitalize;
}
.search-close{
    display: none;
    color:#fff;
    background:rgb(106, 106, 106);
    border-radius:50px;
    padding:0 10px;
    cursor:pointer;
    transition:all .8s linear;
    margin:0 auto;
}
.search-close:hover{
    color:red;
}
.navbar-container{
    position: relative;
}

.navbar-search-sm{
    width:100%;
    margin:5px auto;
    display: none !important;
    height: 100%;
    padding: 0;
}
.navbar-sm-input input{
    padding:5px 10px;
    margin:15px auto;
    outline:none;
}
.navbar-sm-search{
    cursor:pointer;
}
.navbar-sm-search:hover{
    color:red;
}
.navbar-search-sm input{
    width:100%;
    background:rgb(248,249,250);
    border-bottom:1px solid black;
}

/* cart-icon fs-4=========================== */
.cart-icon {
    position: relative;
 
}
.cart-icon > p{
    color:white;
    background-color: #f12f2f;
    padding:1px 5px;
    font-size:0.6rem;
    border-radius:2px;
    font-weight: bold;
    position: absolute;
    top:10%;
    left:90%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}
.cart-icon .active{
    color:black
}
/* ====================END+========================= */
@media screen and (max-width:767px){
    .navbar-sm{
        display:flex;
    }
    .navbar-container{
        position: relative;
        justify-content: start !important;
    }
    .navbar-search-sm{
        display: flex !important;;
    }
    .navbar-ul{
        width: auto !important;;
        margin-left:auto !important;
    }
    
}
/* Remove border from toggler */
.navbar-toggler {
    border:0 !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #e74c3c;
    display: block;
    transition: all 0.2s;
}

/* email verifcation- notication =============================== */

.email-verification-notification{
    width:100%;
    height:25px;
    background-color: rgb(0, 0, 0);
    top:0px;
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 999;
    overflow: hidden;

}
.email-verification-notification > h1:nth-child(1){
    font-size:1rem;
    color:white;
    margin-right:2%;
    margin:auto 0px;
}
.email-verification-notification > h1:nth-child(2){
    font-size:0.8rem;
    background-color: rgb(255, 40, 40);
    padding:5px 10px;
    color:white;
    margin:auto 0px;
    margin-left:20px;

    cursor: pointer;
}
.email-verification-notification > h1:nth-child(2):hover{
   background-color: rgb(245, 86, 86);
}
/* --------------------faskldkflsad================================ */

/* logout =========================== */
/* logout================= */
#logout{
    height:40px;
    margin:auto 17px;
    cursor: pointer;
    z-index: 2;
}
.logout-username{
    height:100%;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout-text{
    display: none;
    height: 120%;
    width: 120%;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 10px;
}
.logout-text:hover{
    color:red;
}
.cart-icon:hover{
    color:black;
}
/* end ============ */

