.navbar img{
    width:20%;
}
.nav-item{
    text-align:left;
    cursor: pointer;
}
@media screen and (max-width:486px){
    .navbar img{
        width:40%;
    }
    .navbar-brand{
        width:50%;
    }
}