.pv-row{
    bordeR:1px solid red;
    width:90%;
    margin:0 auto;
}
/* ============picture========== */

.pv-img{
    height:125px;
    width:100%;
    border:1px solid green;
    margin:5px 0;
}
.pv-img:nth-child(1){
    background:url('../image//products/canadian/CD101.jpg')center/contain no-repeat;
}
.pv-img:nth-child(2){
    background:url('../image//products/canadian/CD102.jpg')center/contain no-repeat;
}
.pv-img:nth-child(3){
    background:url('../image//products/canadian/CD103.jpg')center/contain no-repeat;
}

.pvimg{
    background:url('../image/products/canadian/CD101.jpg')center/contain no-repeat;
    height: 726px;
}
/* =========img-detail================== */



/* ========pv detail===== */
.pv-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
}
.pv-sub-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-transform: capitalize;
}

/* ===============pv-more ad====================== */
.pv-more-ad{
    border: 0.666667px solid #DDDDDD;
    border-radius: 3px;
    background:pink;
    padding:10px 0;
    display:grid;
    grid-template-columns: 10% 90%;
}
.pv-more-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}
.pv-more-price{
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}
.pv-more-checkbox{
    border:1px solid black;
    height:20px;
    width:20px;
    border-radius:50%;
    cursor:pointer;
    transition:all .3s linear;
    padding:3px;
}
.pv-more-checkbox:hover{
    background:black;
}
.pv-more-img{
    padding:3px;
    height:60px;
    width:60px;
    border:1px solid black;
}
.pv-more-img2{
    padding:3px;
    height: 34px;
    width: 28px;
    margin:0 5px;
    border:1px solid black;
}
.pv-more-img-div{
    height:100%;
    width:100%;
    background:url('../image/products/double/DDGK.jpg')center/contain no-repeat;
    margin:0 !important;
}
.pv-img-container{
    display:flex;
}
.pv-more-detail{
    padding:20px;
}
.pv-more-code{
    font-weight:600;
    margin:20px 0;
}
.pv-more-explore{
    margin:20px 0;
}
.pv-membrance{
    margin:20px 0; 
    border:1px solid grey;
    border-radius:3px;
}
.pv-more-explore span{
    text-transform:uppercase;
    background:black;
    padding:5px 10px;
    color:#fff;
    font-weight:600;
    cursor:pointer;
}

.pv-product-detail{
    margin:10px 0;
}
.pv-product-detail-head{
    font-size:20px;
    font-weight:600;
}
.pv-product-detail-icon{
    font-size:18px;
    padding:0 5px;
    font-weight:800;
    background:grey;
    color:#fff;
    cursor:pointer;
}
.pv-product-detail-icon:hover{
    color:green;
}
.pv-product-detail-head{
    text-transform:capitalize;
}
.pv-detail-para{
    display:none;
    border-bottom:2px solid grey;
    padding-bottom:10px;
}
.pv-detail-size{
    display: none;
}
.pv-detail-size ul li{
    list-style: none;
    margin:10px 0;
}
.pv-detail-share{
    display:none;
    font-size:30px;
    align-items: center;
    justify-content:space-around;
}
.pv-fb, .pv-linked{
    color:rgba(23, 110, 224, 0.734);
}

/* =========like row======== */
.like-row{
    width:90%;
    margin:30px auto;
}
.pl-left{
    font-weight:700;
}
.pl-right{
    font-weight:600;
}
.like-img{
    height:40vh;
    background:url('../image//products/canadian/CD102.jpg')center/contain no-repeat;
    position:relative;
}
.heart{
    position: absolute;
    top:5px;
    right:10px;
    font-size:20px;
    cursor:pointer;
}
.heart:hover{
    color:red;
}
.slick-arrow{
    background:green;
}

/* =======what are you====== */
.look-row{
    width:100%;
    margin:0 auto;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background: #f4ede5;
}
.look-head{
    font-size:20px;
    font-weight:600;
}
.look-para{
    margin:10px 0;
}
.look-btn{
    background:black;
    color:#fff;
    padding:5px 10px;
    margin: 0 auto;
    width: 25%;
    text-transform:capitalize;
    cursor:pointer;
    border:1px solid transparent;
    font-weight:700;
    transition:all .5s ease-in-out
}
.look-btn:hover{
    background:#fff;
    border:1px solid black;
    color:black;
}
/* ====testo=== */
.pv-testo{
    margin:10px 0;
}