/* ====================cart heading=========== */
.row-cartList {
  background: #f1f2f4;
  width: 100%;
  margin: 0 auto;
}
.cartlist-container {
  margin: 0 auto;
  width: 80%;
  padding: 10px 0;
}
.cart-l-shopping {
  padding: 10px 0;
  color: grey;
  cursor: pointer;
}
.cartlist-container a {
  border-bottom: 1px solid transparent;
}
.cartlist-container .active {
  border-bottom: 1px solid black;
}
.row-cart-table {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

/* ===============cart list================= */
.cart-heading {
  display: grid;
  grid-template-columns: 50% 10% 20% 20%;
  border-bottom: 1px solid black;
  padding: 10px 0;
  font-weight: 500;
  margin-bottom: 10px;
}
.cart-product-list {
  display: grid;
  grid-template-columns: 50% 10% 20% 20%;
  border: 1px solid rgba(165, 165, 165, 0.705);
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  animation-name: fadeout;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cart-product-detail {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  justify-content: center;
}

.cart-product-img {
  background: url("../image/products/canadian/CD101.jpg") center/contain
    no-repeat;
  height: 100px;
  width: 100%;
}
.cart-product-incerase {
  display: flex;
  padding: 0 5px;
  border: 1px solid rgba(128, 128, 128, 0.49);
  margin-left: 10px;
}
.cart-product-minus,
.cart-product-plus {
  color: rgba(128, 128, 128, 0.49);
  padding: 3px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.cart-product-minus:hover,
.cart-product-plus:hover {
  color: black;
}
.cart-product-number {
  margin: 0 10px;
}
.cart-product-remove {
  cursor: pointer;
}
.cart-product-remove:hover {
  color: red;
}
.cart-amt-sm,
.cart-product-remove-sm {
  display: none;
}
/* ==========cart coupon============= */

.row-cart-coupon {
  border: 1px solid grey;
  width: 90%;
  margin: 10px auto;
  padding: 20px;
}
.coupon-container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.coupon-input {
  width: 80%;
}
.coupon-input input {
  width: 100%;
  padding: 5px;
  outline: none;
  border: 0;
  border-bottom: 1px solid grey;
}
.coupon-btn {
  color: black;
  border-radius: 0;
  border-bottom: 1px solid black;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.coupon-cart-update:hover {
  background: black;
  color: #fff;
}

.coupon-cart {
  width: 100%;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}

.coupon-cart-update {
  color: rgb(180, 179, 179);
  background: black;
}
/* ====================cart total============= */
.cart-total {
  display: grid;
  grid-template-columns: 40% 60%;
}

@media screen and (max-width: 1051px) {
  .coupon-container {
    grid-template-columns: 15% 85%;
  }
  .coupon-input {
    width: 65%;
  }
}

@media screen and (max-width: 750px) {
  .cart-l-shopping {
    font-size: 9px;
  }
  .row-cart-table {
    padding: 0;
    width: 100%;
  }
  .cart-heading {
    grid-template-columns: 40% 10% 25% 25%;
    font-size: 11px;
  }

  .cart-product-list {
    grid-template-columns: 40% 10% 25% 25%;
    font-size: 12px;
  }
  .cart-product-img {
    height: 70px;
  }
}
.price-name,
.price-qty {
  display: none;
}
/* =======for mobile device===== */
@media screen and (max-width: 479px) {
  .cart-heading {
    display: none;
  }
  .price-name,
  .price-qty {
    display: block;
  }
  .cart-product-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .cart-product-img {
    width: 150px;
    height: 150px;
    background-size: contain !important;
    border: 2px solid grey;
  }
  .cart-product-name {
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
  }
  .cart-product-detail {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    font-weight: 500;
    font-size: 17px;
    background: #f4ede5;
  }
  .cart-product-list {
    position: relative;
  }
  .cart-product-amt {
    position: absolute;
    right: 0;
    top: 25%;
    width: 65%;
    padding: 5px;
  }
  .cart-product-quantity {
    position: absolute;
    top: 50%;
    right: 0;
    width: 65%;
    padding: 5px;
  }
  .cart-product-price {
    position: absolute;
    bottom: 0;
    padding: 5px;
    background: rgb(205, 205, 205);
    right: 0;
    width: 100%;
  }
  .cart-amt-sm {
    display: inline-block;
    color: green;
    margin-right: 5px;
  }
  .cart-product-remove-sm {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(205, 205, 205);
    width: 10%;
    text-align: center;
    padding: 2px;
    font-size: 15px;
  }

  /* ====coupon=== */
  .row-cart-coupon {
    padding: 0;
    position: relative;
  }
  .coupon-code,
  .coupon-name {
    font-size: 12px;
  }
  .coupon-btn {
    font-size: 10px;
  }
  .coupon-name {
    background: rgba(8, 138, 8, 0.446);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 14px;
  }
  .coupon-container {
    display: block;
    padding-top: 35px;
  }
  .coupon-cart-update {
    font-size: 10px;
  }
}

/* ====Order-Tracking Cart======= */
.tracker {
  margin: 40px 0;
}
.track-status-type {
  border: 1px solid red;
  padding: 0 10px;
  border-radius: 5px;
}
.order-progress {
  width: 100%;
  padding: 50px 0;
  margin: 10px 0;
}
.order-line {
  width: 90%;
  margin: 10px auto;
  height: 10px;
  border: 1px solid green;
  position: relative;
}
.order-progress-color {
  width:0%;
  background-color: green;
  height: 100%;
}
.circle {
  border-radius: 50%;
  background-color: yellowgreen;
  position: absolute;
  bottom: -15px;
  padding: 10px;
}
.circle1,
.order-placed {
  left: -5px;
}
.circle2,
.in-transit {
  left: 48%;
}
.circle3,
.completed {
  right: -5px;
}
.order-status {
  position: absolute;
  bottom: -43px;
}
.order-table {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  margin: 10px;
}
.order-table-list {
  padding: 5px;
}
.order-table-head {
  border-bottom: 1px solid black;
}
.order-view {
  background: rgb(243, 242, 242);
  border: 1px spolid rgb(60, 59, 59);
  border-radius: 10px;
  padding: 20px;
}
.order-table-border {
  border: 1px solid rgba(0, 128, 0, 0.485);
  border-radius: 5px;
  margin-bottom: 10px;
}

@media screen and (max-width: 660px) {
  .tracker {
    font-size: 12px;
  }
  .order-progress {
    padding: 30px 0;
  }
}
@media screen and (max-width: 488px) {
  .tracker {
    font-size: 9px;
    padding: 0;
    margin: 18px auto;
  }
  .cartlist-container {
    padding: 0;
  }
  .order-progress {
    padding: 10px 0;
  }
}
